.nanum-barun-gothic-bold { font-family:nanum-barun-gothic-bold !important; }
.nanum-barun-gothic-regular { font-family:nanum-barun-gothic-regular !important;  }
.nanum-barun-gothic-light { font-family:nanum-barun-gothic-light !important;  }
.nanum-barun-gothic-ultralight { font-family:nanum-barun-gothic-ultralight !important;  }

